In [110]:
import pandas as pd
import numpy as np
import wandb
import mlflow
import os 
import sys
import xgboost as xgb
import psycopg2
from psycopg2 import sql

In [147]:
connection = psycopg2.connect("postgres://stock_db_a039_user:cA6XxVbvzbZBt6Tz374psjh8WzTDCRZQ@dpg-cnnvokdjm4es73ce63ng-a.oregon-postgres.render.com/stock_db_a039")

In [148]:
# Create cursor
cursor = connection.cursor()

In [95]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS stocks (
        date DATE,
        open NUMERIC,
        high NUMERIC,
        low NUMERIC,
        close NUMERIC,
        adj_close NUMERIC,
        volume NUMERIC
    )
""")


# Commit and close resources
connection.commit()

In [97]:
# Perform database operations
cursor.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public' -- Assuming tables are created in the public schema
        AND table_type = 'BASE TABLE';
    """)
records = cursor.fetchall()
for record in records:
    print(record)

# Commit changes (if any)
connection.commit()

('stocks',)

In [104]:
cursor.execute("""
    INSERT INTO stocks (date, open, high, low, close, adj_close, volume)
    VALUES 
    ('2024-03-12', 150.0, 155.0, 149.0, 153.0, 153.0, 100000),
    ('2024-03-13', 153.0, 156.0, 152.0, 155.0, 155.0, 110000),
    ('2024-03-14', 155.0, 157.0, 154.0, 156.0, 156.0, 120000);
""")

# Commit changes
connection.commit()

In [136]:
# Perform database operations
cursor.execute("""
        SELECT * from stocks;
    """)
records = cursor.fetchall()
for record in records:
    print(record)

# Commit changes (if any)
connection.commit()

(datetime.date(2024, 3, 12), Decimal('150.0'), Decimal('155.0'), Decimal('149.0'), Decimal('153.0'), Decimal('153.0'), Decimal('100000'))
(datetime.date(2024, 3, 13), Decimal('153.0'), Decimal('156.0'), Decimal('152.0'), Decimal('155.0'), Decimal('155.0'), Decimal('110000'))
(datetime.date(2024, 3, 14), Decimal('155.0'), Decimal('157.0'), Decimal('154.0'), Decimal('156.0'), Decimal('156.0'), Decimal('120000'))
(datetime.date(2024, 3, 12), Decimal('150.0'), Decimal('155.0'), Decimal('149.0'), Decimal('153.0'), Decimal('153.0'), Decimal('100000'))
(datetime.date(2024, 3, 13), Decimal('153.0'), Decimal('156.0'), Decimal('152.0'), Decimal('155.0'), Decimal('155.0'), Decimal('110000'))
(datetime.date(2024, 3, 14), Decimal('155.0'), Decimal('157.0'), Decimal('154.0'), Decimal('156.0'), Decimal('156.0'), Decimal('120000'))

In [149]:
def select_data(connection, table_name, columns="*", where_clause=None):
    """
    Retrieves data from a table based on specified criteria.

    Parameters:
    - connection (psycopg2 connection): The connection to the PostgreSQL database.
    - table_name (str): The name of the table to retrieve data from.
    - columns (str or list, optional): The columns to retrieve data from. Default is "*" (all columns).
    - where_clause (str, optional): The WHERE clause to filter rows. Default is None.

    Returns:
    - DataFrame: A DataFrame containing the retrieved data.
    """
    try:
        cursor = connection.cursor()
        select_query = sql.SQL("SELECT {} FROM {}").format(
            sql.SQL(', ').join(map(sql.Identifier, columns)) if columns != "*" else sql.SQL('*'),
            sql.Identifier(table_name)
        )
        if where_clause:
            select_query += sql.SQL(" WHERE {}").format(where_clause)
        cursor.execute(select_query)
        rows = cursor.fetchall()

        # Convert fetched rows into a DataFrame
        df = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])
        return df
    except psycopg2.Error as e:
        print("Error:", e)
        return None
    finally:
        if cursor:
            cursor.close()

In [154]:
select_data(connection , 'stocks' , ['date' , 'open'])

         date   open
0  2024-03-13  153.0
1  2024-03-14  155.0
2  2024-03-13  153.0
3  2024-03-14  155.0
4  2024-03-13  153.0
5  2024-03-14  155.0
6  2024-03-12  60000
7  2024-03-12  60000
8  2024-03-12  60000

In [152]:
def update_data(connection, table_name, set_clause, where_clause=None):
    """Updates existing records in a table."""
    try:
        cursor = connection.cursor()
        update_query = sql.SQL("UPDATE {} SET {}").format(
            sql.Identifier(table_name),
            set_clause
        )
        if where_clause:
            update_query += sql.SQL(" WHERE {}").format(where_clause)
        cursor.execute(update_query)
        connection.commit()
        print("Data updated successfully.")
    except psycopg2.Error as e:
        connection.rollback()
        print("Error:", e)
    finally:
        if cursor:
            cursor.close()

In [153]:
# Define the SET clause to update the salary of an employee with ID 101 to 60000
set_clause = sql.SQL("open = {}").format(sql.Literal(60000))

# Define the WHERE clause to specify the condition (employee ID)
where_clause = sql.SQL("date = {}").format(sql.Literal("2024-03-12"))

update_data(connection, "stocks", set_clause, where_clause)

Data updated successfully.

In [139]:
def execute_values(conn, df, table): 
  
    tuples = [tuple(x) for x in df.to_numpy()] 
  
    cols = ','.join(list(df.columns)) 
    # SQL query to execute 
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols) 
    cursor = conn.cursor() 
    try: 
        extras.execute_values(cursor, query, tuples) 
        conn.commit() 
    except (Exception, psycopg2.DatabaseError) as error: 
        print("Error: %s" % error) 
        conn.rollback() 
        cursor.close() 
        return 1
    print("the dataframe is inserted") 
    cursor.close()

In [137]:
import psycopg2.extras as extras 

# Sample stock data
stock_data = {
    "date": ['2024-03-12', '2024-03-13', '2024-03-14'],
    "open": [150.0, 153.0, 155.0],
    "high": [155.0, 156.0, 157.0],
    "low": [149.0, 152.0, 154.0],
    "close": [153.0, 155.0, 156.0],
    "adj_close": [153.0, 155.0, 156.0],
    "volume": [100000, 110000, 120000]
}

# Create a DataFrame from the sample stock data
stock_df = pd.DataFrame(stock_data)

# Specify the table name
table_name = "stocks"
# Efficiently bulk insert data using `copy_from()`
execute_values(connection, stock_df, 'stocks')

the dataframe is inserted

In [101]:
cursor.close()
connection.close()