In [46]:
import pandas as pd
import numpy as np
import wandb
import mlflow
import os 
import sys
import xgboost as xgb
import psycopg2
from psycopg2 import sql
from urllib.parse import quote_plus

In [48]:
# Establish a connection to the PostgreSQL database
dbname = 'postgres'
user = 'nassar'
password = ''
host = 'stock.postgres.database.azure.com'  # This can be 'localhost' if the database is hosted on the same machine
port = '5432'  # This is the default PostgreSQL port

connection_string = f"postgresql://{user}:{password}@{host}:{port}/{dbname}"


connection = psycopg2.connect(
    connection_string
)

In [49]:
connection_string

'postgresql://nassar:Hamonet10123@stock.postgres.database.azure.com:5432/postgres'

In [ ]:
postgresql://admin:admin@localhost:5432/stock

In [41]:
# Create cursor
cursor = connection.cursor()

In [42]:
cursor.execute("SELECT datname FROM pg_database;")
records = cursor.fetchall()
records

[('azure_maintenance',),
 ('template1',),
 ('postgres',),
 ('template0',),
 ('azure_sys',)]

[('postgres',), ('stock_db_a039',), ('template1',), ('template0',)]

In [26]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS stocks_predictions (
        date DATE PRIMARY KEY,
        prediction NUMERIC,
        feedback NUMERIC,
        model_used VARCHAR(50)
    )
""")


# Commit and close resources
connection.commit()

In [27]:
# Perform database operations
cursor.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public' -- Assuming tables are created in the public schema
        AND table_type = 'BASE TABLE';
    """)
records = cursor.fetchall()
for record in records:
    print(record)

# Commit changes (if any)
connection.commit()

('stocks_predictions',)
('loan_marketing_master_test',)
('person',)
('loan_marketing_master_test_predictions',)
('loan_marketing_master_train',)

In [205]:
cursor.execute("""
    INSERT INTO stocks_predictions (date, prediction, feedback, model_used)
    VALUES 
    ('2024-03-12', 0, 0, 'hello'),
    ('2024-03-13', 1, 0, 'hello2'),
    ('2024-03-14', 0, 0, 'hello3');
""")

# Commit changes
connection.commit()

In [206]:
# Perform database operations
cursor.execute("""
        SELECT * from stocks_predictions;
    """)
records = cursor.fetchall()
for record in records:
    print(record)

# Commit changes (if any)
connection.commit()

(datetime.date(2023, 2, 6), Decimal('0'), None, 'trained_model:v73')
(datetime.date(2024, 3, 12), Decimal('0'), Decimal('0'), 'hello')
(datetime.date(2024, 3, 13), Decimal('1'), Decimal('0'), 'hello2')
(datetime.date(2024, 3, 14), Decimal('0'), Decimal('0'), 'hello3')

In [193]:
def select_data(connection, table_name, columns="*", where_clause=None):
    try:
        cursor = connection.cursor()
        # Initialize the query with SELECT statement
        select_query = sql.SQL("SELECT {} FROM {}").format(
            sql.SQL(', ').join(map(sql.Identifier, columns)) if columns != "*" else sql.SQL('*'),
            sql.Identifier(table_name)
        )
        # If where_clause is provided, add WHERE clause to the query
        if where_clause:
            # Compose the WHERE clause as a SQL expression
            where_expr = sql.SQL(where_clause)
            select_query += sql.SQL(" WHERE {}").format(where_expr)
        cursor.execute(select_query)
        rows = cursor.fetchall()
        return rows
    except psycopg2.Error as e:
        return None
    finally:
        if cursor:
            cursor.close()

In [209]:
result = select_data(connection, 'stocks_predictions', columns=['prediction'], where_clause="date = '2023-02-06'")
print(result[0][0])

[(datetime.date(2023, 2, 6), Decimal('0'), None, 'trained_model:v73')]

In [152]:
def update_data(connection, table_name, set_clause, where_clause=None):
    """Updates existing records in a table."""
    try:
        cursor = connection.cursor()
        update_query = sql.SQL("UPDATE {} SET {}").format(
            sql.Identifier(table_name),
            set_clause
        )
        if where_clause:
            update_query += sql.SQL(" WHERE {}").format(where_clause)
        cursor.execute(update_query)
        connection.commit()
        print("Data updated successfully.")
    except psycopg2.Error as e:
        connection.rollback()
        print("Error:", e)
    finally:
        if cursor:
            cursor.close()

In [153]:
# Define the SET clause to update the salary of an employee with ID 101 to 60000
set_clause = sql.SQL("open = {}").format(sql.Literal(60000))

# Define the WHERE clause to specify the condition (employee ID)
where_clause = sql.SQL("date = {}").format(sql.Literal("2024-03-12"))

update_data(connection, "stocks", set_clause, where_clause)

Data updated successfully.

In [139]:
def execute_values(conn, df, table): 
  
    tuples = [tuple(x) for x in df.to_numpy()] 
  
    cols = ','.join(list(df.columns)) 
    # SQL query to execute 
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols) 
    cursor = conn.cursor() 
    try: 
        extras.execute_values(cursor, query, tuples) 
        conn.commit() 
    except (Exception, psycopg2.DatabaseError) as error: 
        print("Error: %s" % error) 
        conn.rollback() 
        cursor.close() 
        return 1
    print("the dataframe is inserted") 
    cursor.close()

In [137]:
import psycopg2.extras as extras 

# Sample stock data
stock_data = {
    "date": ['2024-03-12', '2024-03-13', '2024-03-14'],
    "open": [150.0, 153.0, 155.0],
    "high": [155.0, 156.0, 157.0],
    "low": [149.0, 152.0, 154.0],
    "close": [153.0, 155.0, 156.0],
    "adj_close": [153.0, 155.0, 156.0],
    "volume": [100000, 110000, 120000]
}

# Create a DataFrame from the sample stock data
stock_df = pd.DataFrame(stock_data)

# Specify the table name
table_name = "stocks"
# Efficiently bulk insert data using `copy_from()`
execute_values(connection, stock_df, 'stocks')

the dataframe is inserted

In [101]:
cursor.close()
connection.close()