In [43]:
import pandas as pd
import numpy as np
import wandb

In [44]:
df = pd.read_csv("..//src//data_ingestion//stock_data.csv" )

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1006 non-null   object
 1   Open       1006 non-null   float64
 2   High       1006 non-null   float64
 3   Low        1006 non-null   float64
 4   Close      1006 non-null   float64
 5   Adj Close  1006 non-null   float64
 6   Volume     1006 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 55.1+ KB

In [46]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [47]:
df.head()

,date,open,high,low,close,adj_close,volume
0,2020-01-02,74.059998,75.150002,73.797501,75.087502,73.059433,135480400
1,2020-01-03,74.287498,75.144997,74.125000,74.357498,72.349129,146322800
2,2020-01-06,73.447502,74.989998,73.187500,74.949997,72.925636,118387200
3,2020-01-07,74.959999,75.224998,74.370003,74.597504,72.582657,108872000
4,2020-01-08,74.290001,76.110001,74.290001,75.797501,73.750244,132079200

In [51]:
df["tomorrow"] = df["close"].shift(-1)
df["label"] = (df["tomorrow"] > df["close"]).astype(int)
df.head()

,date,open,high,low,close,adj_close,volume,tomorrow,label
0,2020-01-02,74.059998,75.150002,73.797501,75.087502,73.059433,135480400,74.357498,0
1,2020-01-03,74.287498,75.144997,74.125000,74.357498,72.349129,146322800,74.949997,1
2,2020-01-06,73.447502,74.989998,73.187500,74.949997,72.925636,118387200,74.597504,0
3,2020-01-07,74.959999,75.224998,74.370003,74.597504,72.582657,108872000,75.797501,1
4,2020-01-08,74.290001,76.110001,74.290001,75.797501,73.750244,132079200,77.407501,1

In [27]:
for i in range(1 , 7 , 1) :
    df[f"lag_{i}_close"] = df["close"].shift(i)

In [29]:
df.tail()

,date,open,high,low,close,adj_close,volume,lag_1_close,lag_2_close,lag_3_close,lag_4_close,lag_5_close,lag_6_close
1001,2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800,194.679993,194.830002,196.940002,195.889999,197.570007,198.110001
1002,2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300,193.600006,194.679993,194.830002,196.940002,195.889999,197.570007
1003,2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700,193.050003,193.600006,194.679993,194.830002,196.940002,195.889999
1004,2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900,193.149994,193.050003,193.600006,194.679993,194.830002,196.940002
1005,2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800,193.580002,193.149994,193.050003,193.600006,194.679993,194.830002

In [33]:
import pandas_ta as ta

df['rsi_14'] = ta.rsi(df['close'], length=14)

df.tail(50)

,date,open,high,low,close,adj_close,volume,lag_1_close,lag_2_close,lag_3_close,lag_4_close,lag_5_close,lag_6_close,rsi_14
956,2023-10-19,176.039993,177.839996,175.190002,175.460007,175.005844,59302900,175.839996,177.149994,178.720001,178.850006,180.710007,179.800003,45.752238
957,2023-10-20,175.309998,175.419998,172.639999,172.880005,172.432510,64189300,175.460007,175.839996,177.149994,178.720001,178.850006,180.710007,40.297970
958,2023-10-23,170.910004,174.009995,169.929993,173.000000,172.552200,55980100,172.880005,175.460007,175.839996,177.149994,178.720001,178.850006,40.652339
959,2023-10-24,173.050003,173.669998,171.449997,173.440002,172.991058,43816600,173.000000,172.880005,175.460007,175.839996,177.149994,178.720001,42.011543
960,2023-10-25,171.880005,173.059998,170.649994,171.100006,170.657120,57157000,173.440002,173.000000,172.880005,175.460007,175.839996,177.149994,37.139989
961,2023-10-26,170.369995,171.380005,165.669998,166.889999,166.458008,70625300,171.100006,173.440002,173.000000,172.880005,175.460007,175.839996,30.326449
962,2023-10-27,166.910004,168.960007,166.830002,168.220001,167.784561,58499100,166.889999,171.100006,173.440002,173.000000,172.880005,175.460007,34.419613
963,2023-10-30,169.020004,171.169998,168.869995,170.289993,169.849197,51131000,168.220001,166.889999,171.100006,173.440002,173.000000,172.880005,40.298283
964,2023-10-31,169.350006,170.899994,167.899994,170.770004,170.327972,44846000,170.289993,168.220001,166.889999,171.100006,173.440002,173.000000,41.605490
965,2023-11-01,171.000000,174.229996,170.119995,173.970001,173.519684,56934900,170.770004,170.289993,168.220001,166.889999,171.100006,173.440002,49.537912
966,2023-11-02,175.520004,177.779999,175.460007,177.570007,177.110367,77334800,173.970001,170.770004,170.289993,168.220001,166.889999,171.100006,56.669213
967,2023-11-03,174.240005,176.820007,173.350006,176.649994,176.192734,79763700,177.570007,173.970001,170.770004,170.289993,168.220001,166.889999,54.547653
968,2023-11-06,176.380005,179.429993,176.210007,179.229996,178.766068,63841300,176.649994,177.570007,173.970001,170.770004,170.289993,168.220001,59.164605
969,2023-11-07,179.179993,182.440002,178.970001,181.820007,181.349365,70530000,179.229996,176.649994,177.570007,173.970001,170.770004,170.289993,63.205254
970,2023-11-08,182.350006,183.449997,181.589996,182.889999,182.416595,49340300,181.820007,179.229996,176.649994,177.570007,173.970001,170.770004,64.756761
971,2023-11-09,182.960007,184.119995,181.809998,182.410004,181.937836,53763500,182.889999,181.820007,179.229996,176.649994,177.570007,173.970001,63.463946
972,2023-11-10,183.970001,186.570007,183.529999,186.399994,186.162445,66133400,182.410004,182.889999,181.820007,179.229996,176.649994,177.570007,69.003591
973,2023-11-13,185.820007,186.029999,184.210007,184.800003,184.564499,43627500,186.399994,182.410004,182.889999,181.820007,179.229996,176.649994,64.763081
974,2023-11-14,187.699997,188.110001,186.300003,187.440002,187.201126,60108400,184.800003,186.399994,182.410004,182.889999,181.820007,179.229996,68.232094
975,2023-11-15,187.850006,189.500000,187.779999,188.009995,187.770386,53790500,187.440002,184.800003,186.399994,182.410004,182.889999,181.820007,68.943009
976,2023-11-16,189.570007,190.960007,188.649994,189.710007,189.468246,54412900,188.009995,187.440002,184.800003,186.399994,182.410004,182.889999,71.025631
977,2023-11-17,190.250000,190.380005,188.570007,189.690002,189.448257,50922700,189.710007,188.009995,187.440002,184.800003,186.399994,182.410004,70.965326
978,2023-11-20,189.889999,191.910004,189.880005,191.449997,191.206009,46505100,189.690002,189.710007,188.009995,187.440002,184.800003,186.399994,73.127169
979,2023-11-21,191.410004,191.520004,189.740005,190.639999,190.397049,38134500,191.449997,189.690002,189.710007,188.009995,187.440002,184.800003,70.524584
980,2023-11-22,191.490005,192.929993,190.830002,191.309998,191.066193,39617700,190.639999,191.449997,189.690002,189.710007,188.009995,187.440002,71.430329
981,2023-11-24,190.869995,190.899994,189.250000,189.970001,189.727905,24048300,191.309998,190.639999,191.449997,189.690002,189.710007,188.009995,66.996176
982,2023-11-27,189.919998,190.669998,188.899994,189.789993,189.548126,40552600,189.970001,191.309998,190.639999,191.449997,189.690002,189.710007,66.399871
983,2023-11-28,189.779999,191.080002,189.399994,190.399994,190.157349,38415400,189.789993,189.970001,191.309998,190.639999,191.449997,189.690002,67.456932
984,2023-11-29,190.899994,192.089996,188.970001,189.369995,189.128662,43014200,190.399994,189.789993,189.970001,191.309998,190.639999,191.449997,63.806733
985,2023-11-30,189.839996,190.320007,188.190002,189.949997,189.707916,48794400,189.369995,190.399994,189.789993,189.970001,191.309998,190.639999,64.956667
986,2023-12-01,190.330002,191.559998,189.229996,191.240005,190.996292,45679300,189.949997,189.369995,190.399994,189.789993,189.970001,191.309998,67.434916
987,2023-12-04,189.979996,190.050003,187.449997,189.429993,189.188583,43389500,191.240005,189.949997,189.369995,190.399994,189.789993,189.970001,60.924546
988,2023-12-05,190.210007,194.399994,190.179993,193.419998,193.173508,66628400,189.429993,191.240005,189.949997,189.369995,190.399994,189.789993,68.210427
989,2023-12-06,194.449997,194.759995,192.110001,192.320007,192.074921,41089700,193.419998,189.429993,191.240005,189.949997,189.369995,190.399994,64.632517
990,2023-12-07,193.630005,195.000000,193.589996,194.270004,194.022430,47477700,192.320007,193.419998,189.429993,191.240005,189.949997,189.369995,67.851838
991,2023-12-08,194.199997,195.990005,193.669998,195.710007,195.460587,53377300,194.270004,192.320007,193.419998,189.429993,191.240005,189.949997,70.021929
992,2023-12-11,193.110001,193.490005,191.419998,193.179993,192.933807,60943700,195.710007,194.270004,192.320007,193.419998,189.429993,191.240005,62.091475
993,2023-12-12,193.080002,194.720001,191.720001,194.710007,194.461868,52696900,193.179993,195.710007,194.270004,192.320007,193.419998,189.429993,64.695534
994,2023-12-13,195.089996,198.000000,194.850006,197.960007,197.707718,70404200,194.710007,193.179993,195.710007,194.270004,192.320007,193.419998,69.489890
995,2023-12-14,198.020004,199.619995,196.160004,198.110001,197.857529,66831600,197.960007,194.710007,193.179993,195.710007,194.270004,192.320007,69.694439
996,2023-12-15,197.529999,198.399994,197.000000,197.570007,197.318222,128256700,198.110001,197.960007,194.710007,193.179993,195.710007,194.270004,67.928778
997,2023-12-18,196.089996,196.630005,194.389999,195.889999,195.640350,55751900,197.570007,198.110001,197.960007,194.710007,193.179993,195.710007,62.613964
998,2023-12-19,196.160004,196.949997,195.889999,196.940002,196.689026,40714100,195.889999,197.570007,198.110001,197.960007,194.710007,193.179993,64.484296
999,2023-12-20,196.899994,197.679993,194.830002,194.830002,194.581711,52242800,196.940002,195.889999,197.570007,198.110001,197.960007,194.710007,58.184935
1000,2023-12-21,196.100006,197.080002,193.500000,194.679993,194.431885,46482500,194.830002,196.940002,195.889999,197.570007,198.110001,197.960007,57.752982
1001,2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800,194.679993,194.830002,196.940002,195.889999,197.570007,198.110001,54.609714
1002,2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300,193.600006,194.679993,194.830002,196.940002,195.889999,197.570007,53.026883
1003,2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700,193.050003,193.600006,194.679993,194.830002,196.940002,195.889999,53.291938
1004,2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900,193.149994,193.050003,193.600006,194.679993,194.830002,196.940002,54.481470
1005,2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800,193.580002,193.149994,193.050003,193.600006,194.679993,194.830002,51.061838

In [35]:
macd = ta.macd(df['close'])

In [36]:
macd.head(50)

    MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
0            NaN            NaN            NaN
1            NaN            NaN            NaN
2            NaN            NaN            NaN
3            NaN            NaN            NaN
4            NaN            NaN            NaN
5            NaN            NaN            NaN
6            NaN            NaN            NaN
7            NaN            NaN            NaN
8            NaN            NaN            NaN
9            NaN            NaN            NaN
10           NaN            NaN            NaN
11           NaN            NaN            NaN
12           NaN            NaN            NaN
13           NaN            NaN            NaN
14           NaN            NaN            NaN
15           NaN            NaN            NaN
16           NaN            NaN            NaN
17           NaN            NaN            NaN
18           NaN            NaN            NaN
19           NaN            NaN            NaN
20           NaN            NaN            NaN
21           NaN            NaN            NaN
22           NaN            NaN            NaN
23           NaN            NaN            NaN
24           NaN            NaN            NaN
25      1.124839            NaN            NaN
26      1.117359            NaN            NaN
27      1.060077            NaN            NaN
28      1.154484            NaN            NaN
29      1.168826            NaN            NaN
30      1.168339            NaN            NaN
31      1.035981            NaN            NaN
32      1.012613            NaN            NaN
33      0.916554      -0.167788       1.084341
34      0.686262      -0.318464       1.004725
35      0.201460      -0.642612       0.844072
36     -0.382091      -0.980930       0.598840
37     -0.743794      -1.074107       0.330313
38     -1.400214      -1.384422      -0.015792
39     -1.901737      -1.508756      -0.392981
40     -1.765446      -1.097972      -0.667474
41     -1.827806      -0.928265      -0.899541
42     -1.588198      -0.550926      -1.037272
43     -1.578212      -0.432752      -1.145460
44     -1.629982      -0.387617      -1.242364
45     -2.107864      -0.692399      -1.415464
46     -2.075944      -0.528384      -1.547560
47     -2.224914      -0.541883      -1.683031
48     -2.858723      -0.940554      -1.918169
49     -2.729613      -0.649155      -2.080458

In [37]:
df['adl'] = (((df['close'] - df['close'].shift()) / (df['high'] - df['low'])) * df['volume']).fillna(0).cumsum()

In [40]:
df.tail()

,date,open,high,low,close,adj_close,volume,lag_1_close,lag_2_close,lag_3_close,lag_4_close,lag_5_close,lag_6_close,rsi_14,adl
1001,2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800,194.679993,194.830002,196.940002,195.889999,197.570007,198.110001,54.609714,6.305361e+09
1002,2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300,193.600006,194.679993,194.830002,196.940002,195.889999,197.570007,53.026883,6.290355e+09
1003,2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700,193.050003,193.600006,194.679993,194.830002,196.940002,195.889999,53.291938,6.292351e+09
1004,2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900,193.149994,193.050003,193.600006,194.679993,194.830002,196.940002,54.481470,6.302177e+09
1005,2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800,193.580002,193.149994,193.050003,193.600006,194.679993,194.830002,51.061838,6.285413e+09

In [41]:
# Create DataFrame with example data
data = pd.DataFrame({
    'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'Close': [100, 105, 102, 110, 108],
    'Volume': [200000, 150000, 180000, 120000, 160000]
})

# Calculate OBV
data['OBV'] = (data['Close'].diff() > 0).astype(int) * data['Volume'].diff().fillna(0).cumsum()

# Display the data with OBV
print(data)

         Date  Close  Volume      OBV
0  2022-01-01    100  200000      0.0
1  2022-01-02    105  150000 -50000.0
2  2022-01-03    102  180000     -0.0
3  2022-01-04    110  120000 -80000.0
4  2022-01-05    108  160000     -0.0